.header {
	padding: 15px 20px;
	display: flex;
	justify-content: space-between;
	position: sticky;
	background-color: aliceblue;
	z-index: 100;
	top: 0;
	box-shadow: 0px 5px 8px rgba(red, green, blue, alpha);
}
.header_left {
	justify-content: space-between;
	display: flex;
}
.header_input {
	display: flex;
	align-items: center;
	background-color: rgb(179, 179, 179);
	padding: 10px;
	margin-left: 10px;
	border-radius: 999px;
}

.header_left img {
	height: 2.5rem;
}
.header_input input {
	border: none;
	background-color: transparent;
	outline-width: 0;
}
.header_center {
	display: flex;
	flex: 1;
	justify-content: center;
}
.header_option .MuiSvgIcon-root {
	color: grey;
}
.header_option:hover .MuiSvgIcon-root:hover {
	color: #2e81f4;
}
.header_option--active .MuiSvgIcon-root {
	border-bottom: hotpink;
}
.header_option--active {
	border-bottom: 4px solid #2e81f4;
}
.header_option {
	display: flex;
	align-items: center;
	padding: 0 30px;
	cursor: pointer;
}
.header_option:hover {
	background-color: hotpink;
	border-radius: 10px;
	align-items: center;
	padding: 0 30px;
	border-bottom: none;
}
.header_info {
	display: flex;
	align-items: center;
}
h4 {
	margin-left: 4px;
}
